.heading1{
            
    background-color:blue;
    text-align:center;


}

.heading3{
    text-decoration: blue;
    background-color:lightcyan;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackcell {
    background-color:#999;
}

.whitecell {
    background-color: white;
}
.heading4{
    text-decoration: blue;
    background-color:lightcyan;
    text-align: center;
    font-size: 30px;
}
body{
    background-color:ghostwhite;
}
